// app/assets/stylesheets/config/_variables.scss

// Font size and line height
$base-size: 16px;
$base-height: 1.4;

// Color Scheme (Le Wagon)
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

// Personal color scheme to overwrite bootstrap and personalize Boken Club
// Replace _bootstrap_variables.scss colors with the personal one below

// Personal Color Scheme
$my-red: #E52020;
$my-orange: #DF6D14;
$my-dark-green: #3A7D44;
$my-green: #9DC08B;
$my-beige: #F8F5E9;
$my-blue: #468585;
$my-yellow: #F4D793;
