.btn-primary {
  background: linear-gradient(to right, #515ae3, #24c6e6);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #24c6e6, #515ae3);
}

.btn-secondary {
  background: linear-gradient(to right, #e32727, #ed6464);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #ed6464, #e32727);
}
