.suggestion {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.suggestion:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
  color: #007BFF; /* Change the text color on hover */
}
