.search-bar {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: all 0.3s ease;
}

.search-bar:focus {
  outline: none;
  border-color: #1EDD88;
  box-shadow: 0 0 5px rgba(30, 221, 136, 0.6);
}

.suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background: white;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.2s ease;
}

.suggestions-list li:hover {
  background-color: #1EDD88;
  color: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse input[type="text"] {
  position: relative;
}
