<%# app/views/locations/index.html.erb %>
<div class="container text-white">
  <h1>Locations</h1>
  <div class="search-bar mb-4">
    <%= form_with url: locations_path, method: :get,
    data: { controller: "search-locations", turbo_frame: "locations-list" } do |f| %>
      <%= f.text_field :query, class: "form-control", placeholder: "Search locations..." %>
    <% end %>
  </div>
  <turbo-frame id="locations-list">
    <%= render "locations/list", locations: @locations %>
  </turbo-frame>
</div>
